.media-card {
    position: relative;
    height: 300px;
    background-size: cover;
}
.card-btnbox {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 10;
    opacity: 0;
    transition: 0.3s;
}
.media-card:hover .card-btnbox {
    opacity: 1;
}
.card-title {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #eee;
    width: 100%;
    padding: 12px;
    background: rgba(0,0,0,0.8);
}
.code-404 {
    font-size: 34px;
    margin: 200px 0;
    text-align: center;
}
.message {
    position: absolute;
    width: 100%;
    top: -50px;
}
.message.bg-success {
    animation-name: alert_hide;
    animation-duration: 0.3s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.mapbox-empty {
    font-size: 28px;
    height: 300px;
    line-height: 300px;
    background: #fff;
    text-align: center;
    border: 1px solid rgba(0,0,0,.125);
}
.user-info-list li i {
    margin-right: 10px;
}
[class$='btnbox'] form {
    display: inline-block;
}
@keyframes alert_hide {
    to {
        opacity: 0;
        display: none;
    }
}
